
<h2>This is Contact Form</h2>

<!-- <form action="">
    {{ form }} 
    <input type="submit">
</form> -->

<!-- <form action="">
    {{ form.as_p }} 
    <input type="submit">
</form> -->

<!-- <form action="">
    {{ form }} 
    <input type="submit">
</form> -->

<!--below is the Manual way of creating forms ,this can be reduced using for loop -->

<!-- 

<form action="">
    <label for=""> {{ form.name.label }}</label><br>
    {{ form.name }} <br>

    <label for=""> {{ form.phno.label }}</label><br>
    {{ form.phno }} <br>

    <label for=""> {{ form.email.label }}</label><br>
    {{ form.email }} <br>

    <label for=""> {{ form.addr.label }}</label><br>
    {{ form.addr }} <br>

<input type="submit">
</form> 

-->

<!-- doing the above using for loop -->

    <form action="" method="POST">
    {% csrf_token %}    
        {% for field in form %}
        <label for=""> {{ field.label }}</label><br>
        {{ field }} <br>
        {% endfor %}

    <input type="submit">
    </form> 