<!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phonenum</th>
            <th>Email</th>
            <th>Address</th>
        </tr>

    </thead>

    <tbody>

        {% for detail in details  %}
        <tr>
            <td>{{ detail.name }}</td>
            <td>{{ detail.phno }}</td>
            <td>{{ detail.email }}</td>
            <td>{{ detail.addr }}</td>
            <td><button><a href="{% url 'update' detail.id %}">Edit</a></button></td>
            <td>
            <form action="{% url 'delete' detail.id %}" method="POST"> {% csrf_token %}<input type="submit" value="Delete"></form>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>

</table> -->



<!-- to get the table border -->

<table style="border-collapse: collapse; width: 100%;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Name</th>
            <th style="border: 1px solid black;">Phonenum</th>
            <th style="border: 1px solid black;">Email</th>
            <th style="border: 1px solid black;">Address</th>
            <th style="border: 1px solid black;">EditAction</th>
            <th style="border: 1px solid black;">DeleteAction</th> <!-- Keep this if you want the Edit/Delete buttons -->
        </tr>
    </thead>
    <tbody>
        {% for detail in details %}
        <tr>
            <td style="border: 1px solid black;">{{ detail.name }}</td>
            <td style="border: 1px solid black;">{{ detail.phno }}</td>
            <td style="border: 1px solid black;">{{ detail.email }}</td>
            <td style="border: 1px solid black;">{{ detail.addr }}</td>
            <td style="border: 1px solid black;"><button><a href="{% url 'update' detail.id %}">Edit</a></button></td>
            <td style="border: 1px solid black;">
                <form action="{% url 'delete' detail.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>